{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="card shadow p-4">
      <h1 class="text-primary mb-4 text-center">📘 Update Textbook</h1>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6">
            {{ textbook_form.title.label_tag }}{{ textbook_form.title }}
            {{ textbook_form.author.label_tag }}{{ textbook_form.author }}
            {{ textbook_form.genre.label_tag }}{{ textbook_form.genre }}
            {{ textbook_form.published_date.label_tag }}{{ textbook_form.published_date }}
            {{ textbook_form.condition.label_tag }}{{ textbook_form.condition }}
          </div>
          <div class="col-md-6">
            {{ textbook_form.associated_class.label_tag }}{{ textbook_form.associated_class }}
            {{ textbook_form.library.label_tag }}{{ textbook_form.library }}
            {{ textbook_form.description.label_tag }}{{ textbook_form.description }}
          </div>
        </div>

        <!-- Image Preview (if exists) -->
        {% if photo_form.instance.picture %}
          <div class="text-center my-3">
            <img src="{{ photo_form.instance.picture.url }}" class="img-thumbnail" width="150px" alt="Current Image">
          </div>
        {% endif %}

        <!-- Photo Upload -->
        {{ photo_form.as_p }}

        <div class="text-center mt-3">
          <button type="submit" class="btn btn-success">💾 Update</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}